flask
flask_cors
pandas
requests
beautifulsoup4
pinecone-client
transformers
torch
scikit-learn
python-dotenv
langchain
langchain_openai
langchain_core
langchain_pinecone
langchain_community
langdetect
gunicorn
